<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
     <router id="standard">
     <route id="head_footer_scripts" frontName="head_footer_scripts">
     <module name="Training_HeadFooterScripts" /> 
     </route> 
     </router>
</config>
